.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form h1 {
  text-align: center;
  color: orangered;
  font-size: 30px;
}
.login-form input {
  display: block;
  padding: 5px;
  margin: 5px;
}

.login-form button {
  background-color: burlywood;
}
